
$color-bg: #fafafa;
$color-gray: #4a4a4a;
$color-gray-light: #9B9B9B;

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Helvetica Neue',
  Helvetica, Arial, 'Noto Sans CJK SC', 'Microsoft YaHei', 'Hiragino Sans GB',
  'Heiti SC', 'WenQuanYi Micro Hei', sans-serif !important;
}

body {
  padding: 0;
  margin: 0;
}

.to-top {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #000 url("images/up.png") no-repeat center center/60%;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px;
  cursor: n-resize;
}

.homepage {
  .page-title {
    margin: 40px auto;
    text-align: center;
    .avatar {
      margin: 0 auto;
      height: 80px;
      width: 576px;
      background: url("images/title.gif") no-repeat center center/contain;
    }
    .name {
      font-size: 24px;
      color: $color-gray;
      font-weight: lighter;
      margin-top: 16px;
    }
  }
  .head {
    position: relative;
    margin-top: 105px;
    .link {
      text-decoration: none;
      font-size: 16px;
      color: $color-gray-light;
      font-weight: bold;
      &-selected {
        position: relative;
        color: $color-gray;
      }
      &-selected:after {
        position: absolute;
        content: "";
        width: 70%;
        height: 8px;
        background: #222;
        left: 0;
        top: 0;
        margin-top: -10px;
      }
    }
    .link:hover {
      color: $color-gray;
    }
  }
  .head:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #eeeeee;
    left: 0;
    margin-top: -40px;
  }
  .title {
    margin-top: 80px;
    color: $color-gray-light;
    font-weight: bold;
  }
  .lists {
    margin-top: 40px;
    .cell {
      display: inline-block;
      cursor: pointer;
      position: relative;
      border-radius: 8px;
      &-project-a {
        background: #1caa24 url("images/project1.png") center center/contain;
        box-shadow: rgba(25, 152, 50, 0.3) 0 8px 24px;
      }
      &-project-b {
        background: #ffe700 url("images/project2.png") center center/contain;
        box-shadow: rgba(255, 192, 25, 0.3) 0 8px 24px;
      }
      &-project-c {
        background: #ed4015 url("images/project3.png") center center/contain;
        box-shadow: rgba(217, 59, 22, 0.34) 0 8px 24px;
      }
      &-project-e {
        background: #ffdb90 url("images/project5.png") center center/contain;
        box-shadow: rgba(255, 173, 51, 0.3) 0 8px 24px;
      }
      &-project-f{
        background: #3E8EEC url("images/project6.png") center center/contain;
        box-shadow: rgba(61, 113, 217, 0.3) 0 8px 24px;
      }
      &-project-g{
        background: #1658cf url("images/project7.png") center center/contain;
        box-shadow: rgba(37, 99, 203, 0.3) 0 8px 24px;
      }
      &-project-h {
        background: white url("images/project8.png") center center/contain;
        box-shadow: rgba(0, 0, 0, 0.06) 0 8px 24px;
      }
      &-project-i {
        background: #2187FF url("images/project9.png") center center/contain;
        box-shadow: rgba(35, 90, 220, 0.2) 0 8px 24px;
      }
      &-project-painting {
        background: #008641 url("images/project10.png") center center/contain;
        box-shadow: rgba(0, 0, 0, 0.06) 0 8px 24px;
      }
      &-project-j {
        background: #111923 url("images/project11.png") center center/contain;
        box-shadow: rgba(0, 0, 0, 0.06) 0 8px 24px;
      }
      &-project-k {
        background: #ffffff url("images/project12.png") center center/contain;
        box-shadow: rgba(0, 0, 0, 0.06) 0 8px 24px;
      }
      &-project-l {
        background: #ffffff url("images/project13.png") center center/contain;
        box-shadow: rgba(0, 0, 0, 0.06) 0 8px 24px;
      }
      &-project-m {
        background: #ffffff url("images/project14.png") center center/contain;
        box-shadow: rgba(0, 0, 0, 0.06) 0 8px 24px;
      }
    }
    @keyframes my-move
    {
      0% {
        transform:translateY(0px);
      }
      50% {
        transform:translateY(10px);
      }
      100% {
        transform:translateY(0px);
      }
    }
    .cell:hover {
      box-shadow: rgba(0, 0, 0, 0.03) 0 4px 24px;
      animation:my-move ease-in .3s 1;
      cursor: pointer;
    }
    .cell:hover::after {
      content:"";
      border-radius: 6px;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.95) url("images/hover.png") center center/contain;
    }
  }
  .links {
    .cell {
      margin-bottom: 40px;
      .logo {
        &-dribbble {
          background: url("images/dribbble.png") no-repeat center center/contain;
        }
        &-zoocl {
          background: url("images/zcool.png") no-repeat center center/contain;
        }
        &-ins {
          background: url("images/ins.png") no-repeat center center/contain;
        }
      }

      @keyframes my-jump {
        from {
          transform:translateY(0px);
        }
        to {
          transform:translateY(5px);
        }
      }
      .logo-ins:hover , .logo-zoocl:hover{
        animation:my-jump .2s ease-out infinite;
      }

      .the-link {
        text-decoration: none;
        color: $color-gray-light;
      }
      .the-link:hover {
        color: $color-gray;
      }
    }

    @keyframes my-jump {
      0% {
        transform:translateY(0px);
      }
      50% {
        transform:translateY(4px);
      }
      100% {
        transform:translateY(0px);
      }
    }

    .cell:nth-of-type(1):hover {
      @keyframes my-rotate {
        from{transform:rotate(0)}
        to{transform:rotate(360deg)}
      }
      .logo-dribbble {
        animation:my-rotate 2s linear infinite;
      }
    }

    .cell:nth-of-type(2):hover {
      .logo-ins{
        animation:my-jump .8s ease-out infinite;
      }
    }

    .cell:nth-of-type(3):hover {
      .logo-zoocl{
        animation:my-jump .8s ease-in-out infinite;
      }
    }
  }
  .about-me {
    margin-top: 64px;
    .cell {
      margin-bottom:24px;
      .info {
        font-size: 18px;
        position: relative;
        color: #aaa;
        text-decoration: none;
        .code_image {
          visibility: hidden;
          border: white solid 8px;
          border-radius: 2px;
          z-index: 99;
          box-shadow: rgba(0, 0, 0, 0.05) 0 4px 12px;
          position: absolute;
          width: 120px;
          height: 120px;
          left: 0;
          top: 0;
          background: url("images/wechat_code.jpg") no-repeat center center/contain;
        }
      }
      .we-chat {
        cursor: pointer;
      }
      .name {
        margin-bottom: .5rem;
        width: 100%;
        display: inline-block;
        font-size: 14px;
        color: $color-gray-light;
        font-weight: bold;
      }
      a:hover {
        color: $color-gray;
      }
    }
  }
  .message-content {
    .sign {
      font-size: large;
      color: $color-gray;
      margin-top: 64px;
      font-weight: bold;
    }
  }
}

.template {
  color: $color-gray;
  .title {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .period {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: lighter;
    color: $color-gray-light;
  }
  .info {
    font-size: 13px;
    color: #cccccc;
    margin-bottom: 60px;
  }
  .detail {
    font-size: 16px;
    margin: 0 auto;
    line-height: 24px;
    font-weight: lighter;
  }
  .download {
    margin-bottom: 30px;
    button {
      height: 40px;
      width: 200px;
      background: #24B040;
      border-radius: 2px;
      font-size: 16px;
      color: white;
      outline: none;
      border: none;
    }
  }
  .part {
    color: $color-gray-light;
    margin-top: 80px;
    font-weight: bold;
  }
  .lists {
    margin-top: 40px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    .introduce:after {
      position:absolute;
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, 0.2);
      left: 0;
      bottom: -10px;
      content: "";
    }
    .cell {
      margin-bottom: 60px;
      width: 280px;
      img {
        width: 100%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.03) 0 4px 24px;
      }
    }
    .page {
      width: 100%;
      margin-bottom: 80px;
      img {
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.03) 0 4px 24px;
      }
    }
  }
  .illustrations {
    margin-top: 40px;
    column-gap: 0;
    .illustration {
      box-sizing: border-box;
      width: 320px;
      margin-bottom: 16px;
      img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6px;
        width: 100%;
        height: auto;
        background: #eaeff6;
      }
    }
  }
}

.page-bottom {
  font-size: small;
  color: $color-gray-light;
  text-align: center;
  margin: 120px auto 0;
}

@media only screen and (max-width: 1000px){
  .homepage {
    background: #fdfdfd;
    padding: 140px 24px 40px;
    .mobile-head {
      z-index: 100;
      position: fixed;
      width: 100%;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
      left: 0;
      top: -1px;
    }
    .page-title {
      margin: 24px auto;
      .avatar {
        height: 40px;
        width: 288px;
      }
    }
    .title {
      text-align: center;
      font-size: 24px;
    }
    .lists {
      text-align: center;
      .cell {
        display: inline-block;
        width: 280px;
        height: 180px;
        margin: 15px;
      }
    }
    .links {
      margin-top: 80px;
      .logo {
        height: 32px;
        width: 32px;
        margin: 8px auto;
      }
      .the-link {
        display: block;
        font-size: medium;
        text-align: center;
      }
    }
    .head {
      width: 100%;
      display: -webkit-flex;
      display: flex;
      margin-top: 32px;
      height: 48px;
      padding-bottom: 8px;
      .link {
        font-size: medium;
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
        line-height: 48px;
        color: #dddddd;
        &-selected:after {
          content: "";
          height: 40px;
          width: 40px;
          border-radius: 20px;
          background: rgba(0, 175, 23, 0.2);
          position: absolute;
          margin-top: 0;
          left: 30%;
          z-index: 99;
        }
        &-selected {
          color: black;
        }
      }
    }
    .head:before {
      display: none;
    }
    .message-content {
      .sign {
        text-align: center;
      }
    }
  }
  .template {
    padding: 80px 24px 40px;
    .title {
      text-align: center;
    }
    .period {
      text-align: center;
    }
    .info {
      text-align: center;
    }
    .detail {
      text-align: center;
    }
    .download {
      text-align: center;
    }
    .part {
      text-align: center;
      font-size: 24px;
    }
    .lists {
      justify-content: space-around;
      .cell {
        margin-right: 20px;
        margin-left: 20px;
      }
      .page {
        img {
          text-align: center;
          width: 100%;
        }
      }
    }
    .illustrations {
      .illustration {
        margin: 0 auto 40px;
      }
    }
  }
  .about-me {
    .cell {
      .name {
        text-align: center;
      }
      .info {
        display: inline-block;
        margin-top: 4px;
        width: 100%;
        text-align: center;
        .code_image {
          margin-left: -60px;
          left: 50%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .template, .homepage {
    width: 800px;
    margin: 0 auto;
    padding: 80px 10px 40px;
  }
  .homepage {
    .title {
      font-size: 32px;
    }
    .lists {
      .cell {
        width: 300px;
        height: 220px;
        margin-right: 56px;
        margin-bottom: 56px;
      }
    }
    .links {
      margin-top: 80px;
      .logo {
        height: 64px;
        width: 64px;
        display: inline-block;
        vertical-align: middle;
      }
      .the-link {
        margin-left: 32px;
        line-height: 64px;
        font-size: 24px;
        vertical-align: middle;
      }
    }
    .head {
      .link {
        margin-right: 40px;
      }
    }
  }
  .template {
    .lists {
      margin-top: 80px;
      .cell{
        margin-right: 60px;
      }
      .page {
        img {
          width: 100%;
        }
      }
    }
    .part {
      font-size: 32px;
    }
    .illustrations {
      column-count: 2;
    }
  }
}

@media only  screen and (min-width: 1400px){
  .template, .homepage {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 10px 40px;
  }
  .template {
    .illustrations {
      column-count: 3;
    }
  }
}


@media only  screen and (min-width: 860px){
  .works {
    margin: 0 auto;
    font-size: 0;
    min-width: 800px;
    .description {
      background: black;
      background: -webkit-linear-gradient(-45deg, #333, black);
      background: -o-linear-gradient(-45deg, #333, black);
      background: -moz-linear-gradient(-45deg, #333, black);
      background: linear-gradient(-45deg, 333, black);
      display: inline-block;
      height: 100%;
      width: 30%;
      overflow-y: auto;
      vertical-align:top;
      box-shadow: rgba(0, 0, 0, 0.1) 10px 0 10px;
      .title {
        width: 80%;
        margin: 120px auto 60px;
        font-size: x-large;
        font-weight: bolder;
        color: white;
        text-align: left;
      }
      .download {
        margin-top: 20px;
        height: 40px;
        width: 200px;
        background: #24B040;
        border-radius: 2px;
        font-size: 16px;
        color: white;
        outline: none;
        border: none;
      }
      .download:hover {
        background: #1f9637;
      }
      .info {
        width: 80%;
        text-align: left;
        font-size: small;
        color: rgba(255, 255, 255, 0.6);
        margin: 0 auto 12px;
      }
      .brief {
        width: 80%;
        font-size: small;
        line-height: 22px;
        margin: 60px auto 0;
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .pages {
      width: 70%;
      height: 100%;
      vertical-align:top;
      overflow-y: auto;
      display: inline-block;
      background: $color-bg;
      .title {
        margin: 120px 0 10px 36px;
        font-size: x-large;
        color: $color-gray;
        font-weight: bolder;
      }
      .screens {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .screen {
          width: 240px;
          margin: 20px 0 20px 40px;
          img {
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.05) 0 6px 12px;
            width: 100%;
            height: auto;
          }
        }
      }
      .tip {
        font-size: small;
        margin: 80px auto 40px;
        color: $color-gray;
        text-align: center;
      }
      .web-pages {
        margin-left: 36px;
        .web-page {
          width: 70%;
          max-width: 800px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }

    }
    .pages::-webkit-scrollbar,.description::-webkit-scrollbar {
      width: 6px;
      height: 1px;
    }
    .pages::-webkit-scrollbar-thumb,.description::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: #535353;
    }
    .pages::-webkit-scrollbar-track,.description::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
      border-radius: 10px;
      background: transparent;
    }
  }
}

@media only screen and (max-width: 860px){
  .works {
    .description {
      padding: 20px 20px 40px;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.03) 0 4px 8px;
      .title {
        font-size: x-large;
        color: $color-gray;
        text-align: center;
        margin: 20px auto 40px;
        font-weight: bolder;
      }
      .info {
        font-size: small;
        color: $color-gray-light;
        text-align: center;
        margin: 8px auto;
        .download {
          margin-top: 20px;
          height: 40px;
          width: 200px;
          background: #24B040;
          border-radius: 2px;
          font-size: 16px;
          color: white;
          outline: none;
          border: none;
        }
      }
      .brief {
        width: 80%;
        margin: 40px auto 0;
        font-size: small;
        color: $color-gray;
      }
    }
    .pages {
      padding: 20px 0 40px;
      background: $color-bg;
      .title {
        text-align: center;
        margin-top: 60px;
        font-size: large;
        font-weight: bolder;
      }
      .screens {
        .screen {
          width: 70%;
          max-width: 240px;
          margin: 20px auto 40px;
          img {
            width: 100%;
            height: auto;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.03) 0 4px 8px;
          }
        }
      }
      .tip {
        font-size: small;
        color: $color-gray-light;
        text-align: center;
        margin-top: 40px;
      }
    }
  }
 }






